@font-face {
  font-family: outfit;
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: young-serif;
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 400;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: #e3d9c5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem 0 3rem 0;

  font-family: outfit;
  color: hsl(24, 5%, 18%);
}
img {
  max-width: 100%;
  border-radius: 1rem;
}
.recipe-container {
  background-color: white;

  width: 50%;
  border-radius: 1rem;

  padding: 2rem;
}
@media screen and (max-width: 375px) {
  body {
    padding: 0;
    margin: 0;
  }
  .recipe-container {
    width: 100%;
  }
  .main-recipe {
    padding: 1rem;
  }
}
.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: young-serif;
}
.section {
  margin: 1.5rem 0 1.5rem 0;
}
.subtitle {
  font-size: 1.75rem;
  font-family: young-serif;
  color: hsl(14, 45%, 36%);
  margin-bottom: 1.5rem;
}
li {
  padding-bottom: 1rem;
}
.section.prep {
  padding: 2rem 0 0.5rem 2rem;
  background-color: hsl(332, 51%, 32%, 0.1);
  border-radius: 1rem;
}
.subtitle.prep {
  margin-bottom: 1rem;

  font-size: 1.25rem;
  font-family: outfit;
  font-weight: 500;
  color: hsl(332, 51%, 32%);
}
.nutrition-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nutrition-item,
.nutrition-value {
  font-size: 16px;
  border-bottom: solid hsl(30, 18%, 87%);
  padding: 1rem;
}
.nutrition-value {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
.nutrition-item {
  color: hsl(30, 10%, 34%);
  padding-left: 2rem;
}
